<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>destination</key>
	<string>export</string>
	<key>installerSigningCertificate</key>
	<string>7D4A5F8B938B4282818781A8ABFCD9E68C23C588</string>
	<key>manageAppVersionAndBuildNumber</key>
	<true/>
	<key>method</key>
	<string>app-store</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>io.kamaal.UnixTime</key>
		<string>Epoch Time macOS Distribution</string>
		<!-- <key>io.kamaal.UnixTime.UnixTimeWidget</key>
		<string>Epoch time Mac widget</string> -->
	</dict>
	<key>signingCertificate</key>
	<string>98AF02F047C1ACBDAA841A1C5A1FCA6AE4D1CA86</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>teamID</key>
	<string>DXUKH9VF73</string>
	<key>uploadSymbols</key>
	<true/>
</dict>
</plist>
